<header class="header">
    <div class="logoHeader">
        <a class="logo">
          <img class="gloplaxLogo" src="../../../assets/images/3.png" >
        </a>
      
      
    </div>
    <!-- <div class="header-right" *ngIf="homeList?.name?.length">   
      <h4 class="primaryColor font-header menu-link" (click)="onHomeClick()">HOME</h4>   
     <h4 class="primaryColor font-header">Contact</h4>              
    </div> -->
   
    <!-- <span class="hamburger"> -->
      <!-- <mat-icon aria-hidden="false" aria-label="menu">view_headline</mat-icon> -->
      <!-- <div id="nav-icon3">
        <span ></span>
        <span ></span>
        <span ></span>
        <span></span>
        <span></span>
        <span ></span>
      </div> -->
  
    <!-- </span> -->
    <!-- <div style="margin-right: 0.7rem;"> -->
    
        <!-- <button class="loginButton" > <i class="fa fa-sign-in" aria-hidden="true"></i> Login</button> -->
    <!-- </div> -->
    </header>
    <!-- <div class="p-col-12 p-d-flex p-ai-center " style="padding-left: 11px;padding-right: 11px; justify-content: space-between;">
      <span class="font-content breadcrumb-guide-label p-mr-1 p-mt-1 p-d-flex"> 
        <span
        class="primaryColor "><b class="p-mr-1">Home </b></span> | 
    <p-breadcrumb (onItemClick)="iteamClick($event)"  [model]="menuItems" class="p-p-0 p-ml-1 breadcrumb" ></p-breadcrumb>
    
    </span>
    <i *ngIf="commonService.showAddbutton" (click)="openAddPopup()" class="pi pi-plus-circle p-ml-3" style="font-size: 1.5rem;color: #CFCFCF;" tooltipPosition="top"
    pTooltip="Add Persona" ></i>
  </div> -->
