
<p-toast [preventOpenDuplicates]="true"></p-toast>
<p-confirmPopup  #confirmPopup [style]="{'font-size':'11px','max-width':'500px'}"></p-confirmPopup>

  
 <!-- <div class="p-col-12 p-d-flex p-ai-center " style="padding-left: 11px;padding-right: 11px; justify-content: space-between;">
    <span class="font-content breadcrumb-guide-label p-mr-1 p-d-flex"> 
      <span
      class="primaryColor "><b class="p-mr-1">GPX</b></span> | 
  <p-breadcrumb  class="p-p-0 p-ml-1 breadcrumb"  [model]="menuItems"></p-breadcrumb>
  
  </span>

  </div> -->
  <!-- [style]="{width: popupModelWidth,top:popupModelTop ,position:' absolute',left:'811px', popupModelrightSide:popupModelLeftSide}" -->
<p-dialog header="Header"   [(visible)]="showPopup" class="popupActivity actscroll" [draggable]="false" [closable]="false">
    <ng-template pTemplate="header">
       
        <div  class="p-d-flex p-col-12 p-flex-row p-mt-3 " style="width: 100%;">
            <div  class="p-mr-auto p-mt-0 p-mb-0">
                <h4  class="font-header p-m-0 text-center actdetil-header" style="display: inline-block;">
                    <i class="pi pi-file-edit p-mr-2"></i>Process Master
                </h4>
                <!-- <h4 *ngIf="!isEditMode" class="font-header p-m-0 text-center actdetil-header" style="display: inline-block;">
                                       <img class="gloplaxLogo" src="../../../assets/images/3.png"  style="height:36px">
                </h4> -->
            </div>
           
            <!-- <p-checkbox *ngIf="isEditMode" name="archive" class=" p-p-0  p-mr-3 pointer Checkbox-div archive-check" [(ngModel)]="model.archive"  [binary]="true" [falseValue]="false" label="Archive" (click)="archiveChange($event)"></p-checkbox>  -->
            
            <div class="p-col-2 p-p-0 p-d-flex p-align-center p-jc-center ">
            <div class="  p-p-0 font-header text-center">Active
                <div class="  p-p-0 p-ml-2 font-header text-center "><input type="checkbox"  [(ngModel)]="Processmodel.activeProcess"> </div>
            </div>
        </div>
            <i class="pi pi-trash p-p-0  p-mr-3 pointer" type="button" *ngIf="Processmodel.processId" (click)="CanDelete($event)" tooltipPosition="top" pTooltip="Delete"></i>
         <i class="pi pi-times p-mr-0 pointer" (click)="close()"></i>
        </div>
    </ng-template>  
  <p-dialog header={{popupHeader}} *ngIf="selectPopup" [draggable]="false" [closable]="false" [(visible)]="selectPopup"
class="ownerPopUp"
style="min-width: 50%;
max-width: 50%;
top: 0px;
position: absolute;
left: 100%;
transform: translateX(-100%);
z-index: 1102;
height: 100%;"
  [baseZIndex]="10000" class="list-popup-dialog" [styleClass]="'list-popup-dialog1'">
  <ng-template pTemplate="header">

          <div class="p-col-12 p-mb-1 p-mt-1 p-d-flex p-p-0">
              <h4 style="display: inline-block;" class="font-header p-mr-auto text-center p-mt-1 p-mb-1">
                 {{popupHeader}}
              </h4>
           
              <div *ngIf="popupHeader == 'metrics' || popupHeader=='Owner'"
              class="p-col-1 p-d-flex p-jc-center tick-box" (click)="saveMultiSelect()"><i
                  class="pi pi-check"></i></div>
          <div class="p-col-1 p-d-flex p-jc-center   tick-box " (click)="confirm($event)"><i
                  class="pi pi pi-times"></i></div>
          </div>
          
      
      </ng-template>
      <p-listbox class="list-popup list-scroll" [showToggleAll]="false" [options]="options" *ngIf="popupHeader=='Owner'?false :true"
          [listStyle]="{'font-size':'11px' ,'padding':'2px'}"
       [style]="{'width':'100%','max-height':popupModelHeight,'overflow-y':'scroll','min-height':popupModelHeight,'margin-bottom':'20px'}"
          [checkbox]="multiple" [multiple]="multiple" [filter]=" popupHeader=='Owner' ?false:true"
     
       [(ngModel)]="selectedOptions" (onClick)="saveValues($event)" [optionLabel]="label">
       
      </p-listbox>
      
      <div  *ngIf="popupHeader=='Owner'" [style]="{'width':'100%','max-height':popupModelHeight,'overflow-y':'scroll','min-height':popupModelHeight,'margin-bottom':'20px'}">
        <div class="p-col-12 p-d-flex p-ai-center">
        <div class="p-col-6 p-d-flex p-ai-center">
            <div class="p-col-4  p-p-0 font-header text-center"> Function</div>
            <div class="p-col-8">
      <p-dropdown  class="width-100-perc p-mr-2" [(ngModel)]="Processmodel.function" [options]="functionList" optionLabel="name" (onChange)="onFunctionChange($event?.value?.id)" placeholder="Function" [disabled]="disabledropdowns==true" >
    </p-dropdown>
            </div>
</div>
<div class="p-col-6  p-d-flex p-ai-center">
    <div class="p-col-4  p-p-0 font-header text-center">Sub Function</div>
    <div class="p-col-8">
      <p-dropdown  *ngIf="popupHeader=='Owner'" class="width-100-perc"  [(ngModel)]="Processmodel.subFunction" [options]="subFunctionList" optionLabel="name" placeholder="Sub Function">
    </p-dropdown>
</div>
</div>
</div>
</div>



  </p-dialog>
<div #processDetailPopup  >
    <!-- <div class="p-col-12 p-p-1 p-d-flex p-flex-md-row">
        <div class=" p-col-2 p-p-0 p-mr-1 font-header text-center">Process Master
        </div>
    <div class="p-pl-2 p-pr-2"><div class="headerBorder"></div></div> -->

    <div class="p-pl-2 p-pr-2"><div class="headerBorder"></div></div>
    <div class="p-d-flex p-flex-wrap p-col-12  p-d-flex p-flex-column p-flex-md-row p-jc-between "
    style="position: relative; padding :0;">
    <div  class="p-lg-12 p-md-12 p-pl-0 p-pr-3  p-pt-0 p-pb-0 ">
        <!-- <div class="p-col-12  p-d-flex p-flex-column p-flex-md-row">
                <div class="p-col-12  p-d-flex p-flex-md-row">
                    <div  class="p-lg-6 p-md-12 p-pl-0 p-pr-3  p-pt-0 p-pb-0 ">
        <div class=" p-col-6 p-p-0 p-mr-1 font-header text-center" style="font-size: 14px;">Process Master
        </div>
        </div>
        <div class="p-lg-6 p-md-12 p-pl-0 p-pr-3  p-pt-0 p-pb-0 ">
        <div class="  p-p-0 font-header text-center" style=" margin-left: 1.5rem;float: right;">Active
            <div class="  p-p-0 p-ml-2 font-header text-center "><input type="checkbox"  [(ngModel)]="Processmodel.activeProcess"> </div>
        </div>
        </div>
        
        </div>
    </div> -->
</div>
<!-- <div class="p-pl-2 p-pr-2"><div class="headerBorder"></div></div> -->
    <div class="p-d-flex p-flex-wrap p-col-12  p-d-flex p-flex-column p-flex-md-row p-jc-between p-pt-4"
        style="position: relative;">
      

        <div #containerLeft class="p-lg-6 p-md-12 p-pl-0 p-pr-3  p-pt-0 p-pb-0 ">
            <div class="p-col-12 p-p-1 p-d-flex p-flex-column p-flex-md-row">
                <div class=" p-col-3 p-p-0 p-mr-1 font-header text-center">Process ID -{{Processmodel.processId}}
                </div>
                <div class=" p-col-1 p-p-0 p-mr-1 font-header text-center ">Level - {{Processmodel?.level}} </div>
                <div class=" p-col-4 p-p-0  font-header ">
                    <div class="p-d-flex  p-p-0">
                        <div class=" p-col-5 p-p-0  p-ml-1  text-center"   >Criticality</div>
                        <div class=" p-col-6 p-p-0   " >
                            <p-dropdown class="width-100-perc" [(ngModel)]="Processmodel.criticality" [options]="crticalityData" optionLabel="name" >
                            </p-dropdown>

                        </div>

                    </div>
                </div>
                <div class=" p-col-4 p-p-0  font-header ">
                    <div class="p-d-flex  p-p-0">
                        <div class=" p-col-6 p-p-0    text-center"   >Maturity Level</div>
                        <div class=" p-col-6 p-p-0   " >
                            <p-dropdown class="width-100-perc" [(ngModel)]="Processmodel.MatuarityLevel" [options]="maturityList" optionLabel="name" >
                            </p-dropdown>

                        </div>

                    </div>
                </div>
            </div>

            <div class="p-col-12 p-p-1 p-d-flex p-flex-column p-flex-md-row">
                <div class=" p-col-3 p-p-0 p-mr-1 font-header text-center ">Process Name</div>
                <div class=" p-col-9 p-p-0"><input #processName [(ngModel)]="Processmodel.processName" style="width: 100%;" type="text" pInputText  
                    > 
                    <!-- <div class="text-danger error font-content errorFont">
                        Process name should not exceed 255 characters long
                        </div> -->
                </div>
                
               

                
            </div>
            <div class="p-col-12 p-p-1 p-d-flex p-flex-column p-flex-md-row">
                <div class=" p-col-3 p-p-0 p-mr-1 font-header text-center ">Description</div>
                <div class=" p-col-9 p-p-0"  style="overflow: auto;padding: 10px;     border: 1px solid #ede6e6;"> 
                   
            <div [ngStyle]="{'width':'100%'}" class="common-font-size"> 
                <textarea pInputText type="text"  class=" p-py-1  border-color text-area" maxlength="500" [(ngModel)]="Processmodel.description" style="max-height:100%; overflow: auto;  height:100%;width: 100%;max-width: 100%;" rows="4"></textarea>
               
        </div>

                    <!-- <div class="text-danger error font-content errorFont">
                        Description should not exceed 2000 characters long
                        </div> -->
                </div>
               
            </div>
       

            <div class="p-col-12 p-p-1 p-d-flex p-flex-column p-flex-md-row">
                <div class=" p-col-3 p-p-0 p-mr-1 font-header text-center">Owner</div>
                <div class=" p-col-9 p-p-0">
                   
                    <div class="p-inputgroup ">
                        <input class="width-100-perc" type="text" [value]="Processmodel?.owner?.name" 
                            disabled pInputText
                            placeholder="Select a Owner">
                            <span class="p-inputgroup-addon p-p-0"
                            (click)="selctionPopup(ownerList,'Owner',Processmodel?.owner,'name')"
                            [ngStyle]="{'background':popupHeader=='Owner' && selectPopup?'#2529cd':'#e9ecef'}"><i
                                class="pi pi-external-link externalLink"
                                [ngStyle]="{'color':popupHeader=='Owner' && selectPopup?'white':'#6c757d'}"></i></span>

                    </div>
                </div>
            </div>
          
            <div  class="p-col-12 p-p-1 p-d-flex p-flex-column p-flex-md-row">
                <div class=" p-col-3 p-p-0 p-mr-1 font-header text-center ">Parent Process</div>
                <div class=" p-col-9 p-p-0">
                    <div class="p-inputgroup ">
                        <input  class="width-100-perc" type="text" [value]="Processmodel?.parentProcess?.processName"  
                            pInputText placeholder="Select a Parent Process" [disabled]="true" >
                            <span class="p-inputgroup-addon p-p-0" style="pointer-events: none;"
                            (click)="selctionPopup(parentProcess,'Parent process',Processmodel?.parentProcess,'processName')"
                            [ngStyle]="{'background':popupHeader=='Parent process' && selectPopup?'#2529cd':'#e9ecef'}"><i
                                class="pi pi-external-link externalLink"
                                [ngStyle]="{'color':popupHeader=='Parent process' && selectPopup?'white':'#6c757d'}"></i></span>


                    </div>
                </div>
            </div>
            
            <div class="p-col-12 p-p-1 p-d-flex p-flex-column p-flex-md-row">
                <div class=" p-col-3 p-p-0 p-d-flex font-header  text-center "> Metrics
                </div>
                <div  #UpstreamBox class=" p-col-9 p-p-2  headerRemove borderRemove font-header stream-box  " [ngStyle]="{'max-height':'100px','min-height':'100px'}">

                    <div class="p-d-flex p-jc-end "  style="min-height:20px;max-height:20px">
                        
                        <div class=" p-col-1 p-pl-0 p-pr-0 p-pb-0 p-pt-1 p-d-flex font-header text-center  ">
                            <div  class="col-auto p-mr-2"> <i
                                    class="pi pi pi-times  font-content " tooltipPosition="top"
                                    pTooltip="Remove" 
                                    style="    font-size: 13px; color: red;" (click)="removeMetics(1)"></i></div>
                            <div  class="col-auto mr-2"> <i
                                    class="pi pi-plus mr-2 font-content" tooltipPosition="top" pTooltip="Add"
                                    (click)="selctionPopup(metricsList,'metrics',Processmodel?.metrics,'metricName')"
                                    style="    font-size: 13px; color: red;"></i></div>

                        </div>
                    </div>
                    <div  class="upstrem-depentent-box p-pt-1"   >
                        <p-listbox [metaKeySelection]="false"
                        [options]="Processmodel.metrics"
                         [checkbox]="true" [filter]="true" [multiple]="true"
                         [(ngModel)]="metricsList"
                        optionLabel="metricName" [listStyle]="{'padding':'0','font-size':'12px','max-height':'65px'}"
                        [style]="{'width':'100%'}">
                        <ng-template let-iteam pTemplate="item">
                            <div class="country-item" style="display:flex; max-height: 22px;  white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          ">
                                <div>{{iteam.metricName}}</div>
                            </div>
                        </ng-template>
                    </p-listbox>
                    </div>
                    
                </div>


            </div>
            <div class="p-col-12 p-p-1 p-d-flex p-flex-column p-flex-md-row ">
                <div class=" p-col-3 p-p-0 p-d-flex font-header  text-center "> Risks
                </div>
                <div  #risksBox class=" p-col-9 p-p-2  headerRemove borderRemove font-header stream-box  " [ngStyle]="{'max-height':'100px','min-height':'100px'}">

                    <div class="p-d-flex p-jc-end "  style="min-height:20px;max-height:20px">
                        
                        <div class=" p-col-1 p-pl-0 p-pr-0 p-pb-0 p-pt-1 p-d-flex font-header text-center  ">
                            <div  class="col-auto p-mr-2"> <i
                                    class="pi pi pi-times  font-content " tooltipPosition="top"
                                    pTooltip="Remove" 
                                    style="    font-size: 13px; color: red;"></i></div>
                            <div  class="col-auto mr-2"> <i
                                    class="pi pi-plus mr-2 font-content" tooltipPosition="top" pTooltip="Add"
                                    
                                    style="    font-size: 13px; color: red;"></i></div>

                        </div>
                    </div>
                    <div  class="upstrem-depentent-box p-pt-1"   >
                        <p-listbox [metaKeySelection]="false"
                         [checkbox]="true" [filter]="true" [multiple]="true"
                         [(ngModel)]="Processmodel.risks"
                        optionLabel="name" [listStyle]="{'padding':'0','font-size':'12px','max-height':'50px'}"
                        [style]="{'width':'100%'}">
                        <ng-template let-iteam pTemplate="item">
                            <div class="country-item" style="display:flex; max-height: 22px;  white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                          ">
                                <div>{{iteam.name}}</div>
                            </div>
                        </ng-template>
                    </p-listbox>
                    </div>
                    
                </div>


            </div>
            


        </div>
        <div class=" p-lg-6 p-md-12 p-lg-pl-3 p-pr-0  p-lg-pl-3 p-xl-pl-3 p-pt-0 p-pb-0" style="transform: translate(0px, -14px);">
        
            <div class="p-d-flex  p-flex-wrap ">
                <div class="p-col-12 p-p-0 ">

                    <div class="p-col-12 " style="padding: 0 0.25rem !important;">
                        <!-- <div class=" p-col-12 p-p-0 p-mr-1 p-mb-1  font-header text-center ">Matric Category</div> -->
                        <div header="" class="card-modal">
                            <p class="m-0 ">
                        <p-fieldset legend="Matric Category">
                        <div class="p-col-12 p-pl-0   p-pr-0  p-pt-1  p-pb-0   headerRemove threeColumn potrateHeight" style="max-height: 33vh;" [ngStyle]="{'max-height':(70)+'px'}">
                            <p-listbox
                            [options]="metricCategoryList"
                                [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true"
                                optionLabel="name"
                                [(ngModel)]="Processmodel.matricCategory"
                                [listStyle]="{'min-height':(40)+'px','font-size':'12px'}"
                                [style]="{'width':'100%','border':'none'}">
                                <ng-template let-iteam pTemplate="item">
                                    <div class="country-item">
                                        <div>{{iteam.categoryName}}</div>
                                    </div>
                                </ng-template>
                            </p-listbox>
                        </div>
                    </p-fieldset>
                    </p>
                        </div>
                </div>
                    </div>

                </div>

           

          
            <div class="p-col-12  " style="padding: 0 0.25rem !important;">
                <!-- <div class=" p-col-12 p-p-0 p-mr-1 p-mb-1  font-header text-center ">Impect Area</div> -->
                <div header="" class="card-modal">
                    <p class="m-0 ">
                <p-fieldset legend="Impact Area">
                <div class="p-col-12 p-pl-0   p-pr-0  p-pt-1  p-pb-0    headerRemove threeColumn potrateHeight" style="max-height: 33vh;" [ngStyle]="{'max-height':(70)+'px'}">
                    <p-listbox
                    [options]="impactAreaList"
                        [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true"
                        optionLabel="name"
                        [(ngModel)]="Processmodel.impectArea"
                        [listStyle]="{'min-height':(70)+'px','font-size':'12px'}"
                        [style]="{'width':'100%','border':'none'}">
                        <ng-template let-iteam pTemplate="item">
                            <div class="country-item">
                                <div>{{iteam.impactAreaName}}</div>
                            </div>
                        </ng-template>
                    </p-listbox>
                </div>
                </p-fieldset>
                    </p>
                </div>
         
            <div class="p-col-12 p-p-1 " style="padding: 0 0.25rem !important;">
                <!-- <div class=" p-col-12 p-p-0 p-mr-1 p-mb-1  font-header text-center ">Enablers</div> -->
                <div header="" class="card-modal">
                    <p class="m-0 ">
                <p-fieldset legend="Enablers">
                <div class="p-col-12 p-pl-0   p-pr-0  p-pt-1  p-pb-0    headerRemove threeColumn potrateHeight" style="max-height: 33vh;" [ngStyle]="{'max-height':(70)+'px'}">
                    <p-listbox
                    [options]="enablersList"
                        [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true"
                        optionLabel="name"
                        [(ngModel)]="Processmodel.enablers"
                        [listStyle]="{'min-height':(40)+'px','font-size':'12px'}"
                        [style]="{'width':'100%','border':'none'}">
                        <ng-template let-iteam pTemplate="item">
                            <div class="country-item">
                                <div>{{iteam.enablerName}}</div>
                            </div>
                        </ng-template>
                    </p-listbox>
                </div>
                </p-fieldset>
                    </p>
                </div>
            
            <div class="p-col-12 p-p-1 " style="padding: 0 0.25rem !important;">
                <!-- <div class=" p-col-12 p-p-0 p-mr-1 p-mb-1  font-header text-center ">RASCI</div> -->
                <div header="" class="card-modal rasci-card ">
                    <p class="m-0 ">
                <p-fieldset legend="RASCI">
                <div class="p-col-12 p-pl-0   p-pr-0  p-pt-1  p-pb-0    headerRemove threeColumn potrateHeight" style="max-height: 33vh;" [ngStyle]="{'max-height':(70)+'px'}">
                    <p-listbox
                   [disabled]="true"
                    [options]="RASCI"
                    [(ngModel)]="Processmodel.rasci"
                        [metaKeySelection]="false" [checkbox]="true" [filter]="true" [multiple]="true"
                        optionLabel="name"
                        [listStyle]="{'min-height':(40)+'px','font-size':'12px'}"
                        [style]="{'width':'100%','border':'none'}">
                        <ng-template let-iteam pTemplate="item" class>
                            <div class="country-item ">
                                <div>{{iteam.name}}</div>
                            </div>
                        </ng-template>
                    </p-listbox>
                </div>
                </p-fieldset>
                </p>
                </div>
            
            </div>
        </div>
  
    </div>
        </div>
   
    </div>
    <div  class="p-col-12 p-p-1 p-d-flex p-flex-column p-flex-md-row" style="padding-top: 0px !important;">
        <div  class="p-lg-6 p-md-12 p-pr-3  p-d-flex p-jc-between">
            <div class="p-col-6 p-p-0  font-header text-center p-d-flex">Last Modified &nbsp; <span class="font-content font-change">{{Processmodel.lastModified|
                date:"dd-MM-yyyy h:mm:ss a"}}  </span>
            </div>    <button style="color: white !important; background-color: #2529cd;" label="Save" 
            class="p-col-2  font-header-commen add-activity" pButton type="button" (click)="saveProcessMaster()"></button></div></div>
    </div>
    <app-loader *ngIf="loader"></app-loader>

</div>
</p-dialog>



